<form>
  {{validated-input model=model valuePath='name' placeholder='Benutzername'}}
  {{validated-input model=model valuePath='email' placeholder='Email'}}
  {{validated-input type='password' model=model valuePath='password' placeholder='Passwort'}}
  {{validated-input type='password' model=model valuePath='password_confirmation' placeholder='Passwortbestätigung'}}

  <button {{action 'register'}} class="btn btn-default" type="submit" disabled={{v-get model 'isInvalid'}}>Register</button>
</form>
